{% extends "base.html" %}
{% block content %}
    {#    {% if session['name_email'] == config.ADMIN %}#}

    <body>
    <div class="form-menu">
        <form class="contactus contactus--decor contactus--facebook" name="MenuForm">
            <button class="contactus__inner-item button"  value="Submit"
                    name="btn" id="submitForm">  <a href="{{ url_for('admin.password_conf_get') }}" class="menu-categories__link">Change Password
                Configutation</a></button>
                        <button class="contactus__inner-item button button--bottom"  value="Submit"
                    name="btn" id="submitForm"><a href="{{ url_for('admin.all_users_get') }}" class="menu-categories__link">Watch User's List</a></button>



        </form>
    </div>
    </body>

    {#{% endif %}#}
{% endblock %}