{% extends "base.html" %}

{% block content %}
    {#    {% if session['name_email'] == config.ADMIN %}#}
    <header class="list__header--decor">
        <h1 class="list__header-text--decor">User's List</h1>
    </header>
    <section>
        {% if users | length > 0 %}
            <div class="list-group mb-3 list-group--decor">
                {% for user in users %}
                    <div class="list-group-items list-group-items--decor">
                        <div class="list-group-item-heading" id="{{ user._name }}">
                            <p class="firstP">
                                <span class="boldSpam">Username:</span> {{ user._name }}
                                 </p>
                             <p>
                               <span class="boldSpam"> E-mail:</span>  {{ user._email }}
                            </p>

                            {% if user._blocked == 0 %}
                                <p>
                                   <span class="boldSpam"> Blocked:</span> False
                                </p>
                                <a class="button button--block"
                                   href="{{ url_for('admin.block_user', block=user._name) }}">Block User</a>
                            {% else %}
                                <p>
                                   <span class="boldSpam"> Blocked: </span>True
                                </p>
                                <a class="button button--unblock"
                                   href="{{ url_for('admin.unblock_user', unblock=user._name) }}">Unblock User</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </section>
{% endblock %}