{% extends "base.html" %}
{% block content %}

    <body>
    <div class="form-wrapper">

        <form class="contactus contactus--decor contactus--facebook" name="passwordForm" method="POST"
              action="{{ url_for('admin.password_conf_get') }}">

            <input class="contactus__inner-item contactus__inner-length data" type="number"
                   placeholder="Password Length" name="length" autocomplete="on" id="length">
            <br>
            <input type="checkbox" id="upper" name="upper" value="0" onclick="this.value=1">
            <label for="upper">A-Z</label><br>
            <input type="checkbox" id="lower" name="lower" value="0" onclick="this.value=1">
            <label for="lower">a-z</label><br>
            <input type="checkbox" id="digits" name="digits" value="0" onclick="this.value=1">
            <label for="digits">0-9</label><br>
            <input type="checkbox" id="spec" name="spec" value="0" onclick="this.value=1">
            <label for="spec">!@#$%^&*_+.,</label><br>
            <input class="contactus__inner-item contactus__inner-history data" type="number"
                   placeholder="Password History" name="history" autocomplete="on" id="history">
            <br>
            <input type="checkbox" id="use_dict" name="use_dict" value="0" onclick="this.value=1">
            <label for="use_dict">[...]</label><br>

            <input class="contactus__inner-item contactus__inner-tries data" type="number"
                   placeholder="Password fail attempts" name="tries" autocomplete="on" id="tries">
            <br><br>

            <input class="contactus__inner-item contactus__inner-submit" type="submit" value="Submit"
                   name="btn" id="submitForm">
        </form>
    </div>

    </body>

{% endblock %}