<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__top-inner">
                <div class="footer__top-item footer__top-newslatter">
                    <h6 class="footer__top-title">Subscribe and stay updated with our latest sales!</h6>
                    <form action="" class="footer-form">
                        <input class="footer-form__input" type="text" placeholder="Enter your e-mail:">
                        <button class="footer-form__btn" type="submit">Send</button>
                    </form>
                </div>
                <div class="footer__top-item footer__top-item--itemdrop">
                    <h6 class="footer__top-title footer__topdrop">Info</h6>
                    <ul class="footer-list ">
                        <li class="footer-list-item"><a href="#">About


                        </a></li>
                        <li class="footer-list-item"><a href="#">Contact us</a></li>
                        <li class="footer-list-item"><a href="#">Sales</a></li>
                        <li class="footer-list-item"><a href="#"> Our stores</a></li>
                    </ul>
                </div>
                <div class="footer__top-item ">
                    <h6 class="footer__top-title footer__topdrop">Online store


                    </h6>
                    <ul class="footer-list ">
                        <li class="footer-list-item"><a href="#">Delivery or self pick-up


                        </a></li>
                        <li class="footer-list-item"><a href="#">Payment</a></li>
                        <li class="footer-list-item"><a href="#">Product return</a></li>
                        <li class="footer-list-item"><a href="#"> News</a></li>
                    </ul>
                </div>
                <div class="footer__top-item footer__top-social">
                    <ul class="footer__top-social-list">
                        <li class="footer__top-social-list__item"><a href="#"><img
                                src="../static/front/res/img/footer/Insta.svg"
                                alt=""></a></li>
                        <li class="footer__top-social-list__item"><a href="#"><img
                                src="../static/front/res/img/footer/VK.svg" alt=""></a>
                        </li>
                        <li class="footer__top-social-list__item"><a href="#"><img
                                src="../static/front/res/img/footer/facebook.svg" alt=""></a>
                        </li>
                        <li class="footer__top-social-list__item"><a href="#"><img
                                src="../static/front/res/img/footer/youtube.svg" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <a class="footer__bottom-link" href="footer__bottom-link">Terms of used</a>
            <a class="footer__bottom-link" href="footer__bottom-link">Privacy</a>
            <a class="footer__bottom-link" href="footer__bottom-link">Cookies</a>
        </div>
    </div>
</footer>
